@model IEnumerable<donem_projesi.Models.IsYeri>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detay</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            background: url(../../2.gif) no-repeat center fixed;
            background-size: cover;
        }

        .navbar {
            position: relative;
            z-index: 1000;
            min-height: 30px;
            margin-bottom: 15px;
            border: 1px solid transparent;
        }
        .link {
            color:red;
        }
    </style>

    <style>
        #Harita {
            width: 450px;
            height: 400px;
        }
        
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkP6y_11FmA1mcmoCpTlEeu35K0f7dwCs"></script>
    <script>

        function initialize() {
            var myLatlng = new google.maps.LatLng(@ViewBag.koordinat);
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("Harita"), mapOptions);

            // To add the marker to the map, use the 'map' property
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: "Hello World!"
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body style=" width:1100px; height:auto; margin-left:100px; margin-right:100px; ">

    <img src="~/13.jpg" style="height: 150px; width: 550px; float:left;" />
    <img src="~/DuyuruIcon.jpg" style="height: 150px; width: 550px;" />

    <div class="navbar navbar-inverse" style=" background-color:#524d4d">
        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Ana Sayfa", "AnaSayfa", "Site")</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Üye Ol", "UyeOl", "Uyelik")</li>
            <li>@Html.ActionLink("Üye Girişi", "UyeGiris", "Uyelik")</li>
        </ul>

    </div>

    <div style="font-size:larger; color:#000000; margin-left:25px; margin-top:25px;">ARAMA SONUÇLARI</div>
    <hr />
    <div style="clear:both;"></div>
    <div style=" margin-left:50px; width:1000px; height:auto; color:#827676; font-size:large;">
        <div style="float:left; color:#8112b1;">* * *  @ViewBag.Il </div> <div style="float:left; margin-left:5px;">ilinin</div> <div style="float:left; margin-left:5px; color:#8112b1;">@ViewBag.Ilce</div> <div style="float:left; margin-left:5px;">ilçesinin</div>  <div style="float:left; margin-left:5px; color:#8112b1;">@ViewBag.Sinif</div> <div style="float:left; margin-left:5px;">kategorisi altındaki iş yerlerini görüntülemektesiniz...</div>
    </div>

    @*<div></div>*@
    <table class="table" style="margin-top:75px;">
        <tr>
            <th style="color:#24702a">
                @Html.DisplayNameFor(model => model.Kategori.Ad)
            </th>
            <th style="color:#24702a">
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th style="color:#24702a">
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th style="color:#24702a">
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color:#484242;">
                    @Html.DisplayFor(modelItem => item.Kategori.Ad)
                </td>
                <td style="color:#484242;">
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td style="color:#484242;">
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td style="color:#484242;">
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    <div style="margin-left:20px; float:left;">
                        @Html.ActionLink("Yorumları ve Haritadaki Yerini Göster", "Yorum_Harita", "Site", new { isyeri_id = item.Id }, new { htmlAttributes = new { @class = "link" } })
                    </div>
                </td>

            </tr>
        }

    </table>
    <br /><hr />


    @if (ViewBag.yorum_harita_goster == 1)
    {

        <div id="YorumKismi" style="margin-top:5px; width:550px; height:auto; float:left;">
            <h3 style="color:#ba0a0a">İş Yeri Bilgileri</h3><br />

            <div>
                <dl class="dl-horizontal">
                    <dt style="color:#24702a">Kategori Adı</dt>
                    <dd>@ViewBag.KategoriAdi</dd>
                    <dt style="color:#24702a; margin-top:10px;">İsim</dt>
                    <dd style="margin-top:10px;">@ViewBag.isim</dd>
                    <dt style="color:#24702a; margin-top:10px;">Telefon</dt>
                    <dd style="margin-top:10px;">@ViewBag.Telefon</dd>
                    <dt style="color:#24702a; margin-top:10px;">Adres</dt>
                    <dd style="margin-top:10px;">@ViewBag.Adres</dd>
                </dl>
            </div>

            <h3 style="color:#ba0a0a">Yorumlar</h3>
            <br />

            @if (ViewBag.yorumlar.Count == 0)
            {
                <h4 style="color:#484242; margin-left:20px;">Henüz bu işyeri hakkında bir yorum bulunmamaktadır.</h4>
                <h4 style="color:#484242;"> Üye girişi yaparak ilk yorumu siz yapın...</h4>
            }
            @foreach (var item in ViewBag.yorumlar) //Kullannıcı Adı ve altında yorumu...
            {
                try
                {
                    <div class="navbar" style=" background-color:#ff7d00; width:600px; height:20px;">
                        <div style="color:darkblue; font-size:large; float:left; margin-left:10px;">@item.KullaniciAdi<br /></div>
                        <div style="float:right; margin-right:10px;">@item.yorum_tarihi</div><br />
                    </div>

                    <div style="color:brown; font-size:medium; margin-left:10px;">@item.Yorum<br /><br /></div>
                }
                catch
                {

                }
            }

            <div style="height:200px;">
                @using (Html.BeginForm())
                {
                    @Html.Label("label_Yorum", "Yorum Yaz")<br />
                    @Html.TextArea("text_area", "", 5, 25, "")<br />
                    <input type="submit" value="Yorum Gönder" />
                }
            </div>

        </div>

        <div style="color:#ba0a0a; margin-top:10px; float:right; margin-right:220px;"><h3>Harita Üzerindeki Yeri</h3><br /></div>
        <div id="Harita" style="float:right; margin-top:15px;">
        </div>

    }
    @Html.Raw(ViewBag.mesaj)
</body>
</html>
